.navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.d-flex {
    display: flex;
    gap: 20px;
}

.jumbotron {
    background-color: #004080;
    padding: 50px 20px;
}

.jumbotron h1 {
    color: #ffffff; 
}

.jumbotron p {
    color: #fffefe; 
}

.jumbotron {
    position: relative;
}

#gov img   {
    width: 50%;
    height: auto;
}

#what, #prevent, #risks, #concerns {
    background-color: #004080;
    padding: 40px;
    border-radius: 10px;
    color: white;
    margin: 20px auto; 
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-weight: 700; /* Makes headings bold */
}

p {
    font-weight: 400; /* Normal body text */
}

.display-4 {
    font-weight: bold;
}