.jumbotron {
    background-color: #004080;
    padding: 50px 20px;
}

.jumbotron h1 {
    color: #ffffff; 
}

.jumbotron p {
    color: #fffefe; 
}

.jumbotron {
    position: relative;
}
#gov img   {
    width: 50%;
    height: auto;
}